extends layout

block content

  #registersuccess.jumbotron
    .container
      h1 successful registration
      p
        | The details you submitted have been added, welcome!
      p
        a.btn.btn-default.btn-primary(href='/', role='button') Home »
      p
        a.btn.btn-default.btn-primary(href='/memberlist', role='button') View member list »