extends layout

block content
  
  //Main jumbotron for a primary marketing message or call to action 
  .jumbotron
    .container
      h1 settings page
      p
        | You are not logged in, and can't be because I haven't written that bit yet!